body {
    background-color:palegoldenrod;
}

h1 {
    text-align: center;
    color:blue;
    font-size:30px;
}

p {
    justify-content: center;
    text-align: center;
    color:blue;
    font-size:20px;
}

.column {
    float:left;
    width: 20.33%;
    padding: 40.7px;
  }

  .container {
    width:500px;
    height:500px;
    border:1px;
    color:palegoldenrod;
  }

  body::-webkit-scrollbar {
    width: 1em;
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: lightgray;
    outline: px solid #eee;
  }