body {
    background-color:white;
}

h1 {
    text-align: center;
    color:blue;
}

p {
    justify-content: center;
    text-align: center;
    color:blue;
}

.column {
    float: left;
    width: 17.33%;
    padding: 11.7px;
  }

  body::-webkit-scrollbar {
    width: 1em;
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: lightgray;
    outline: px solid #eee;
  }