h1 {
  font: 45px;
  color:black;
  text-align: center
}

body {
  text-align: center;
      background-color:aquamarine
}

img {
  position:fixed;
  height:3px;
  width:30px
}

p {
  text-align:center;
}

ul {
  color:purple;
  
}