a {
    color:palegoldenrod;
    cursor:pointer;
    // position:relative;
    font-size:5px;
    width:50px;
    height:100px;
    border-top-right-radius:10px;
    border-bottom-left-radius:10px;
    background-color:white;
    transition: all 1s;
    &:before,&:after{
    // content:" ";
    width:0px;
    height:20px;
    // position:fixed;
    border :3px solid #aaa;
    transition:all 2s;
    }
  &:after{
    top:-1px;
    left:-1px;
    border-top:15px solid black;
    border-left:15px solid black;
  }
  &:before{
    bottom:-1px;
    right:-1px;
    border-bottom:5px solid black;
    border-right:5px solid black;
  }
  &:hover{
    border-top-right-radius:10px;
  border-bottom-left-radius:10px;
    // background:rgba(0,0,0,.5);
    // color:white;
    &:before,&:after{
      width:120%;
      height:90%;
      // border-color:white;
    }
  }
}



h1 {
    padding:40px 20px;
    font-size: 25px;
    color:black;
    text-align: center
  }
  
  h2 {
    text-align:center;
  
  }

  body {
  text-align: center;
   background-color:lightblue;
   width:700px;
  }

  body::-webkit-scrollbar {
    width: 1em;
  }

  body::-webkit-scrollbar-thumb {
    background-color: #666;
    outline: 1px solid #eee;
  }

  
  img {
    position:fixed;
    height:3px;
    width:30px
  }
  
  p {
    text-align:center;
    color: black;
    width:1920px;
  }
  
  
  
  li {
    color:black;
  }