h1 {
  font: 25px;
  color:black;
  text-align: center
}

h2 {
  text-align:center;

}
body {
  text-align: center;
 background-color:lightblue
}

img {
  position:fixed;
  height:3px;
  width:30px
}

p {
  text-align:center;
  color: black;
  width:1920px;
}



li {
  color:black;
}